<%- layout("/layouts/boilerplate") %>
<body>
    <div class="row">
  <h2>Create a new listing</h2>
  <form method="post" action="/listings" novalidate class="needs-validation">

    <div>
      <label for="title" class="form-label col-7">Enter title: </label>
      <input type="text" name="title" class="form-control" required />
      <div class="valid-feedback">
        Title looks good
      </div>
     
    </div>
    
    <div>
      <label class="form-label" for="description">Enter Description: </label>
      <textarea class="form-control" type="text"   name="description" required> </textarea> 
      <div class="invalid-feedback">
        Please enter the description
      </div>

    </div>
    
    
    <div>
      <label class="form-label" for="price">Enter price: </label>
      <input class="form-control"  name="price" required />
      <div class="invalid-feedback">
        Please enter valid price
      </div>
    </div>
    <div>


      <label class="form-label" for="title">Enter location: </label>
      <input class="form-control" type="text" name="location" required />
      <div class="invalid-feedback">
        Enter location
      </div>
    </div>
      
    
    <label class="form-label" for="image">Image link </label>
      <input class="form-control" type="text" name="image" required />
    </div>


    <div>
      <label class="form-label" for="country">Enter country: </label>
      <input class="form-control" type="text" name="country" required/>
      <div class="invalid-feedback">
        Please enter country
      </div>
      <br /><br />
    </div>

    <button class="btn btn-primary ">Submit</button>
    <br><br>
  </form>
  </div>
</body>
